{% extends 'base.html.twig' %}

{% block title %}Level index{% endblock %}

{% block body %}
<div class ="col pt-2">
    <h1>Level index</h1>
 <a href="{{ path('level_new') }}">Create new</a>
     <table id ="myTable" class="records_list table table-striped table-bordered  dt-responsive " cellspacing="0" ">
        
        <thead>
            <tr>
                <th>Id</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for level in levels %}
            <tr>
                <td>{{ level.id }}</td>
                <td>{{ level.level }}</td>
                <td>
                    <a href="{{ path('level_show', {'id': level.id}) }}">show</a>
                    <a href="{{ path('level_edit', {'id': level.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
   
{% endblock %}
