{% extends 'base.html.twig' %}

{% block title %}Authoriser index{% endblock %}

{% block body %}

<div class ="col-sm-9">
    <h1>Application roles</h1>

    <a href="{{ path('authoriser_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for authoriser in authorisers %}
            <tr>
                <td>{{ authoriser.id }}</td>
                <td>{{ authoriser.role }}</td>
                <td>
                    <a href="{{ path('authoriser_show', {'id': authoriser.id}) }}">show</a>
                    <a href="{{ path('authoriser_edit', {'id': authoriser.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
