{% extends 'base.html.twig' %}

{% block title %}Authoriser{% endblock %}

{% block body %}
    <h1>Authoriser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ authoriser.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ authoriser.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('authoriser_index') }}">back to list</a>

    <a href="{{ path('authoriser_edit', {'id': authoriser.id}) }}">edit</a>

    {{ include('authoriser/_delete_form.html.twig') }}
{% endblock %}
