
{% extends 'base.html.twig' %}

{% block title %}Missions{% endblock %}

{% block body %}
<style>h5{margin-left:20%;padding-top:1%;} table{padding:1%} #row{background-color:wheat;}</style>
<div id ="row"class ="row">

 <h5>All Missions Requested</h5>
<div class="table-responsive">
    <table id ="myTable" class=" table table-striped tabble-hover  " cellspacing="0" >
        <thead class="thead-dark thead-light">
            <tr>
                <th>#</th>
                 <th>Mis_purpose</th>
                 <th>Staff</th>
                <th>Post</th>
                <th width="40%">Destination (number indicates spent night)</th>
                <th>Mission Dates</th>
                <th>Allowance</th>
                <th width="10%">status</th>
            </tr>
        </thead>
        <tbody>
       {% for mission in missions %}
           <tr>
             <td>{{ mission.id }}</td>
                 <td>{{ mission.misPurpose }}</td>
                <td>{{ mission.staff }}</td>
                <td>{{ mission.position }}</td>
        
                
               
               <td>{{ mission.destination1 }} {{ mission.d1IdNumDay }}<br>{{ mission.destination2 }}  {{ mission.d2IdNumDay }}<br>{{ mission.destination3 }}  {{ mission.d3IdNumDay }}<br>{{ mission.destination4 }}  {{ mission.d4IdNumDay }}</td>
               
               
                <td>LeavedAt:<br>{{ mission.leavedAt ? mission.leavedAt|date('Y-m-d') : '' }}<br/>
                    ReturnedAt:<br>{{ mission.returnedAt ? mission.returnedAt|date('Y-m-d') : '' }}<br>

                    Duration:{{ mission.numDays }}days
                </td>
                 <td>{{ mission.tallowance }}rwfs</td>
                 
                <td>Was {{ mission.mstatus }}</td>    
    
            </tr>

        {% endfor %} 
           
        </tbody>
    </table>
    
     </div>
      </div>
    
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
    
{% endblock %}
